@model DziennikASPDotNetMVC.Models.ResetPasswordModels.ForgotPassword

<div class="form-container">
    <div class="card">
        <div class="card-header text-center">
            <h4>Resetowanie hasła</h4>
        </div>
        <div class="card-body">
            <form asp-action="ForgotPassword" method="post">
                <div class="form-group">
                    <label asp-for="login" class="control-label">Nazwa użytkownika</label>
                    <input asp-for="login" class="form-control" />
                    <span asp-validation-for="login" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="email" class="control-label">Adres e-mail</label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="form-group mt-4 text-center">
                    <button type="submit" class="btn btn-primary">Wyślij link resetujący</button>
                </div>
            </form>
        </div>
    </div>
</div>