@model DziennikASPDotNetMVC.Models.ResetPasswordModels.ResetPasswordViewModel

<div class="form-container">
    <div class="card">
        <div class="card-header text-center">
            <h4>Resetowanie Hasła</h4>
        </div>
        <div class="card-body">
            <form asp-action="resetPassword" method="post">
                <input type="hidden" asp-for="token" />
                <input type="hidden" asp-for="login" />

                <div class="form-group">
                    <label asp-for="newPassword" class="control-label">Nowe Hasło</label>
                    <input asp-for="newPassword" type="password" class="form-control" />
                    <span asp-validation-for="newPassword" class="text-danger"></span>
                </div>

                <div class="form-group mt-4">
                    <label asp-for="confirmPassword" class="control-label">Potwierdź Hasło</label>
                    <input asp-for="confirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="confirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group mt-4 text-center">
                    <button type="submit" class="btn btn-primary">Zresetuj Hasło</button>
                </div>
            </form>
        </div>
    </div>
</div>