@model DziennikASPDotNetMVC.Models.User

<h1 class="text-center">
    Twój profil
</h1>

<ol class="list-group list-group-flush text-center border">
    <li class="list-group-item">Imie: @Model.name</li>
    <li class="list-group-item">Nazwisko: @Model.surname</li>
    <li class="list-group-item">Login: @Model.login</li>
    <li class="list-group-item">Hasło: @Model.password</li>
</ol>