@model DziennikASPDotNetMVC.Models.User

@{
    ViewData["Title"] = "Dodaj użytkownika";
}

<h1>Create User</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="name" class="control-label"></label>
        <input asp-for="name" class="form-control" />
        <span asp-validation-for="name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="surname" class="control-label"></label>
        <input asp-for="surname" class="form-control" />
        <span asp-validation-for="surname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="type" class="control-label"></label>
        <select asp-for="type" class="form-control" id="userType" onchange="toggleAdminFields()">
            <option value="admin">Admin</option>
            <option value="teacher">Teacher</option>
            <option value="student">Student</option>
            <option value="parent">Parent</option>
        </select>
        <span asp-validation-for="type" class="text-danger"></span>
    </div>

    <!-- Sekcja widoczna tylko dla "admin" -->
    <div class="form-group" id="adminFields" style="display:none;">
        <label asp-for="login" class="control-label"></label>
        <input asp-for="login" class="form-control" />
        <span asp-validation-for="login" class="text-danger"></span>
    </div>

    <div class="form-group" id="adminPasswordFields" style="display:none;">
        <label asp-for="password" class="control-label"></label>
        <input asp-for="password" class="form-control" type="password" />
        <span asp-validation-for="password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript">
        function toggleAdminFields() {
            var userType = document.getElementById("userType").value;
            var adminFields = document.getElementById("adminFields");
            var adminPasswordFields = document.getElementById("adminPasswordFields");

            if (userType === "admin") {
                // Jeśli typ to admin, pokaż pola loginu i hasła
                adminFields.style.display = "block";
                adminPasswordFields.style.display = "block";
            } else {
                // Jeśli typ nie to admin, ukryj pola loginu i hasła
                adminFields.style.display = "none";
                adminPasswordFields.style.display = "none";
            }
        }

        // Wywołaj funkcję przy załadowaniu strony, aby poprawnie ustawić stan formularza
        window.onload = toggleAdminFields;
    </script>
}
